@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.new-full-width{
  width: 100% !important;
}

.form {
  min-width: 800px;
}

@media screen and (max-width: 840px) {
  .form {
    min-width: 400px;
  }
}


@media screen and (max-width: 410px) {
  .form {
    min-width: 200px;
  }
}